#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=/home/maia/oF/openFrameworks/apps/myApps/forkmerge/start.sh
Name[en_ZA]=forkmerge
Name=forkmerge
Icon=/home/maia/oF/openFrameworks/apps/myApps/forkmerge/icon.png
